nav {
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  display: inline;
}
form {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form label {
  width: 120px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.field {
  padding: 5px 0px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.field label {
  display: flex;
  align-items: flex-start;
  text-align: right;
}
.radio {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.radio input {
  text-align: center;
}

.services {
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.book-app {
  padding: 5px 0px;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.btn input {
  width: 200px;
}

#sbm,
#rst {
  margin-top: 5px;
  padding: 10px;
  background-color: #ffccff;
  border-width: 2px;
}

#sbm:hover,
#rst:hover {
  color: #cc00cc;
}
